html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body {
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    background-color: #d8d0b2;
}
figure {
    display: block;
}
a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
}

.main {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    margin: 0 auto;
}

.content {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
}

.mainIcon {
    margin-right: 16px;
    max-width: 480px;
    max-height: 606px;
}

.invitationMessage {
    text-align: center;
    padding: 24px;
    background-color: #a2c46b;
    border-radius: 50px;
    min-width: 600px;
}

li.big {
    font-size: 16pt;
}