<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>結婚式webご招待状</title>
    <link rel="stylesheet" type="text/css" href="/css/wedding.css" />
</head>
<body class="main">
<div class="content">
    <div>
        <img class="mainIcon" src="/img/icon/01.png">
    </div>
    <div class="invitationMessage">
        <h1>ページが見つかりません。</h1>
        <ul>
            <li>ご来賓の皆様ごとに専用のページが用意されています。</li>
            <li>お手元の招待状に記載されているURLをご確認の上、アクセス頂きますようお願いいたします。</li>
            <li>もしご自身の専用ページのURLが分からなくなってしまった場合は、新郎新婦にお問い合わせください。</li>
        </ul>
    </div>
</div>
</body>
</html>