<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <title>サーバーエラー</title>
    <link rel="stylesheet" type="text/css" href="/css/wedding.css" />
</head>
<body class="main">
<div class="content">
    <div class="invitationMessage">
        <h1>ページが表示できません</h1>
        <ul>
            <li>サーバーでエラーが発生しました。しばらく経ってから再度アクセスしてください。</li>
            <li>時間が経過しても改善しない場合はサイト管理者へご連絡ください。</li>
        </ul>
    </div>
</div>
</body>
</html>