<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <title>ご招待状</title>
    <link rel="stylesheet" type="text/css" href="/css/wedding.css" />
</head>
<body class="main">
<div class="content">
    <div>
        <ul>
            <li class="guestName"><?= $name ?></li>
        </ul>
        <img class="mainIcon" src="/img/icon/01.png">
    </div>
    <div class="invitationMessage">
        <h1>ご挨拶</h1>
        <ul>
            <li>謹啓　皆様にはご健勝のこととお慶び申し上げます</li>
            <li>このたび　私たちは平成28年7月17日に入籍いたしました</li>
            <li>つきましては幾久しくご指導とご懇情を賜りますよう</li>
            <li>ささやかながら披露の宴を催したいと存じます</li>
            <li>おいそがしい中と存じますが</li>
            <li>ご出席くださいますよう　ご案内申し上げます　謹白</li>
            <li>平成28年10月吉日</li>
            <li>&nbsp;</li>
            <li class="big">ほげほげ　　ふげふげ</li>
            <li>&nbsp;</li>
            <li>記</li>
            <li>&nbsp;</li>
            <li>日時　平成28年12月24日（日曜日）</li>
            <li>&nbsp;</li>
            <li>挙式　12時00分（神前式）</li>
            <li>場所　東郷神社 <a class="mapLink" href="http://www.lehall-togo.jp/access/" target="_blank">[Access]</a> <a class="mapLink" href="https://goo.gl/maps/D2PV6kxCvV52" target="_blank">[GoogleMap]</a></li>
            <li>&nbsp;</li>
            <li>披露宴　13時30分</li>
            <li>場所　ルアール東郷 <a class="mapLink" href="http://www.lehall-togo.jp/access/" target="_blank">[Access]</a> <a class="mapLink" href="https://goo.gl/maps/g2JNqc5F81N2" target="_blank">[GoogleMap]</a></li>
            <li>〒150-0001  東京都渋谷区神宮前1-4-20 パークコート神宮前2F</li>
            <li>03-3478-1050</li>
            <li>&nbsp;</li>
            <li>誠に恐れ入りますが　挙式にもご列席賜りたく</li>
            <li>当日は11時30分までに　お越しくださいますよう</li>
            <li>お願い申し上げます</li>
        </ul>
    </div>
</div>
<div id="container">
</div>
<div id="token" data-token="<?= htmlspecialchars($token) ?>"></div>
<div id="giftName" data-gift-name="<?= htmlspecialchars($giftName) ?>"></div>
<div id="userStatus" data-user-status="<?= $status ?>"></div>
<script src="/js/rsvp.min.js?201610"></script>
<div class="listFooter">
    <a href="<?= $id ?>/contact">お問い合わせ(食べ物アレルギーに関してもこちらから)</a>
</div>
</body>
</html>