<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ご招待状</title>
    <link rel="stylesheet" type="text/css" href="../public/css/acolish.css" />
</head>
<body class="main">
<div class="content">
    <div>
        <img class="mainIcon" src="../public/img/icon/01.png">
    </div>
    <div class="invitationMessage">
        <h1>ご挨拶</h1>
        <ul>
            <li>謹啓　皆様にはご健勝のこととお慶び申し上げます</li>
            <li>このたび　私たちは平成28年o月o日に入籍いたしました</li>
            <li>つきましては幾久しくご指導とご懇情を賜りますよう</li>
            <li>ささやかながら披露の宴を催したいと存じます</li>
            <li>お忙しい中と存じますが</li>
            <li>ご出席くださいますよう　ご案内申し上げます　敬具</li>
            <li>平成28年10月吉日</li>
            <li>&nbsp;</li>
            <li>ほげ　ほげお　　ふが　ふがこ</li>
            <li>&nbsp;</li>
            <li>記</li>
            <li>&nbsp;</li>
            <li>日時　平成28年○月○日（日曜日）</li>
            <li>&nbsp;</li>
            <li>挙式　12時00分（神前式）</li>
            <li>場所　東郷神社</li>
            <li>〒150-0001 東京都渋谷区神宮前1−5−3（<a href="https://goo.gl/maps/D2PV6kxCvV52" target="_blank">map</a>）</li>
            <li>&nbsp;</li>
            <li>披露宴　13時30分</li>
            <li>場所　ルアール東郷</li>
            <li>披露宴会場住所</li>
            <li>披露宴会場電話</li>
            <li>&nbsp;</li>
            <li>誠に恐れ入りますが　挙式にもご列席賜りたく</li>
            <li>当日は11時30分までに　お越しくださいますよう</li>
            <li>お願い申し上げます</li>
        </ul>
    </div>
</div>
</body>
</html>