<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <title>引き出物のご選択</title>
    <link rel="stylesheet" type="text/css" href="/css/wedding.css" />
</head>
<body class="main">
    <div class="listHeader">
        <h1><?= $name ?></h1>
        <ul>
            <li>ご出席とのお返事ありがとうございます。</li>
            <li>ご参列者の皆様にはご出席頂くお礼および日頃の感謝の気持ちを込め、当日お持ち帰り頂くお土産物をご用意いたします。</li>
            <li>ささやかではございますが、下記の商品からお気に召したものをお選びください。</li>
            <li>なお、誠に勝手ながらお土産物の決定は10月31日までにお願いいたします。また、お土産物の選択確定後の変更はご容赦くださいますようお願いいたします。</li>
        </ul>
    </div>
    <div id="container"></div>
    <div class="listFooter">
        <a href="/wedding/<?= $id ?>">招待状ページへ戻る</a>
    </div>
    <div id="token" data-token="<?= htmlspecialchars($token) ?>"></div>
    <div id="listDataProvider" data-list="<?= htmlspecialchars($gifts) ?>"></div>
    <script src="/js/list.min.js"></script>
</body>
</html>